{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">Erreur dans vos identifiant ou mot de passe !</div>
    {% endif %}


    <label for="inputEmailOrPseudo">Identifiant:</label>
    <input type="text" value="{{ last_username }}" name="email_or_pseudo" id="email_or_pseudo" class="form-control" autocomplete="email" required autofocus>

    <label for="inputPassword">Mot de passe:</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me" checked> Se souvenir de moi</label>
        </div>


    <button class="btn btn-outline-info" type="submit">
        Connexion
    </button>

    <a href="{{ path('app_forgot_password_request') }}" class="btn btn-outline-info">Mot de passe oublié ?</a>
</form>
{% endblock %}
