{% extends 'base.html.twig' %}

{% block title %}Modifier MDP{% endblock %}

{% block body %}
    <h1>Modifier Mot de Passe</h1>

    <label for="AncienMDP">Ancien mot de passe:</label>
    <input type="password" name="AncienMDP", id="AncienMDP">
    
    {{ form_start(formulaire) }}
    {{ form_widget(formulaire) }}

    <button type="submit" class="btn btn-outline-danger">Enregistrer</button>
    <a href="{{ path('accueil') }}" class="btn btn-outline-info">Retour</a>

    {{ form_end(formulaire) }}

{% endblock %}