{% extends 'base.html.twig' %}

{% block title %}Campus index{% endblock %}

{% block body %}
    <h1>Gérer les campus</h1>
    <div>
        <p>
            Filtrer les sites
        </p>
        <div>
            <label for="site-search">Le nom contient:</label>
            <input type="search" id="site-search" name="q">
            <button>Rechercher</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Campus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for campus in campuses %}
            <tr>
                <td>{{ campus.nom }}</td>
                <td>
                    <a href="{{ path('campus_edit', {'id': campus.id}) }}">Modifier -</a>
                    <a href="{{ path('campus_delete', {'id': campus.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('campus_new') }}">Ajouter</a>
{% endblock %}
