{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<header>
    <div>
        <p>Date du jour : {{ "now" | date('d/m/Y') }}</p>
        <p>Participant : {{ app.user.prenom }}  {{ app.user.nom }}</p>
    </div>

    <a href="{{ path('sortie_new', {'id': app.user.id}) }}">Créer une sortie</a>
</header>
{% endblock %}
