{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<header>
    <nav>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>

    </nav>


</header>
{% endblock %}
